<!DOCTYPE html>
<html>
<head>
	<title>Clean India</title>
</head>
<body>
	<h1>Name:<%= name %></h1>
	<h1>Email:<%= email %></h1>
	<h1>Location:<%= location %></h1>
	<img src="data:<%= image_type%>;base64,<%= image %>" alt="Profile Pic" />
</body>
</html>
