<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>Clean India App</title>
  <meta name="generator" content="Bootply" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href="/css/strap.min.css" rel="stylesheet">
  <link href="/css/font-awesome.min.css" rel="stylesheet">

  <link href="/css/profile.css" rel="stylesheet">
</head>

<body>
  <div class="wrapper">
    <div class="box">
      <div class="row">

        <!-- main -->
        <div class="column col-sm-12" id="main">
          <div>
            <div class="goto" style="float: right; margin-right: 4%;margin-top: 1%"><a href="/logout" class="btn btn-default"><b>Logout</b></a> </div>
            <div class="goto" style="float: right; margin-right: 4%;margin-top: 1%"><a href="/profile" class="btn btn-default"><b>Profile</b></a> </div>
          </div>
          <div class="padding">
            <div class="full col-sm-9">

              <!-- content -->
              <div class="col-sm-12" id="featured">
                <div class="page-header text-muted">
                  Featured
                </div>
              </div>

              <!--/top story-->
              <!-- <div class="row">
                    <div class="col-sm-11">
                          <h3>This is Some Awesome Featured Content</h3>
                          <div class="col-md-5 col-sm-12">
                            <a title="Image 1">
                              <img class="thumbnail img-responsive" id="image-1" src="/img/01.jpg">
                          </a>
                          </div>
                          <div class="col-md-7 col-sm-12">
                            <h4><span class="label label-danger" style="margin-bottom:10px">challenge</span></h4><h4>
                            <h3 class="user-timelime" class="toUpper">Asutosh Hota</h3>
                            <h4 class="description">DESCRIPTION : <small>This is a Pic about cleaning my locality.We had cleaned the locality on sunday by being inspired from ugly indian page.locality on sunday by being inspired from ugly indian page</small></h4>
                            <h4 class="description">STAKE-HOLDERS : <small>Official locality,near by school,near campus</small></h4>
                            <h5>Location : <small>adityapur,majhipura,ChandniChowk</small></h5>
                            <h5>Likes : <small id="like-count">567</small><small class="text-muted" style="float:right;">1 hour ago</small></h5>
                            <a href="#"><a href="#"><i class="fa fa-heart likebtn fa-2x" aria-hidden="true"></i></a></i></a>
                        </div>
                    </div>
            <div class="hidden-sm hidden-xs hidden-md col-lg-1">
              <a href="#" class="pull-right proimg"><img src="./img/01.jpg" class="img-circle"></a>
          </div>
      </div>
      <hr> -->
              <!--/stories-->
              <% if(posts.length) { %>

                <% for(i=1;i<posts.length+1;i++){ post = posts[i-1]
        postid_remove = "remove_like('"+post._id+"');";
        postid_add = "like_add('"+post._id+"');";
        %>
                  <div class="row">

                    <div class="col-sm-11">
                      <h3><%= post.heading %></h3>
                      <div class="col-md-5 col-sm-12">
                        <a title="Image <%=i%>">
                        <img class="thumbnail img-responsive" id="image-<%=i%>" src="<%= post.image_before %>">
                    </a>
                      </div>
                      <div class="col-md-7 col-sm-12">
                        <% if(post.type_post=="Solution") {%>
                          <h4><span class="label label-success"><%=post.type_post%></span></h4>
                          <%}  else {%>
                            <h4><span class="label label-danger"><%=post.type_post%></span></h4>
                            <%}%>
                              <h4>
              <h4 class="description">POSTED BY: <small style="text-transform: capitalize;"><%= post.author_name %></small></h4>
                              <h4 class="description">DESCRIPTION : <small style="text-transform: capitalize;"><%= post.description %></small></h4>
                              <h4 class="description">STAKE-HOLDERS : <small style="text-transform: capitalize;"><%= post.stake_holders %></small></h4>
                              <h5>LOCATION: <small style="text-transform: capitalize;"><%= post.location%></small></h5>
                              <h5>LIKES : <small id="like-count<%= post._id %>"><%= post.likes.length %></small><small class="text-muted" style="float:right;"><%= post.date %></small></h5>
                              <% if(post.likes.indexOf(current_userid)>=0) { %>
                                <button id="like<%= post._id %>" class="like" onclick="<%=postid_remove%>"><i class="fa fa-heart fa-2x " style="color:green;"></i></button>
                                <% }else { %>
                                  <button id="like<%= post._id %>" class="like" onclick="<%=postid_add%>"><i class="fa fa-heart fa-2x" style="color:red;"></i></button>
                                  <% } %>
                      </div>
                      <%if(post.type_post=="Challenge") {%>

                        <button data-placement="left" data-original-title="Create" data-toggle="modal" data-target="#myModal2" class="btn btn-success" style="margin-top:10px;">Accept </button>
                        <%}%>



                    </div>
                    <div class="hidden-sm hidden-xs hidden-md col-lg-1">
                      <a href="#" class="pull-right proimg"><img src="<%= post.author_image %>" class="img-circle"></a>
                    </div>

                  </div>
                  <%if(post.type_post=="Solution") { %>
                    <div class="hidden" id="img-repo">
                      <div class="item" id="image-<%=i%>">
                        <img class="thumb img-responsive" title="Before" src="<%= post.image_before %>">
                      </div>

                      <div class="item" id="image-<%=i%>">
                        <img class="thumb img-responsive" title="After" src="<%= post.image_after %>">
                      </div>
                      <%}else{%>
                        <div class="hidden" id="img-repo">
                          <div class="item" id="image-<%=i%>">
                            <img class="thumb img-responsive" title="Challenge To Clean This" src="<%= post.image_before %>">
                          </div>
                          <%}%>
                        </div>
                    </div>


                    <div class="row divider">
                      <div class="col-sm-12">
                        <hr>
                      </div>

                      <% } %>
                        <% } %>
                          <!-------------------------------------------------------------------------------------------->

                          <div class="modal" id="modal-gallery" role="dialog">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button class="close" type="button" data-dismiss="modal">×</button>
                                  <h3 class="modal-title"></h3>
                                </div>
                                <div class="modal-body">
                                  <div id="modal-carousel" class="carousel">
                                    <div class="carousel-inner">
                                    </div>

                                    <a class="carousel-control left" style="margin-top: 25%" href="#modal-carousel" data-slide="prev"><i class="fa  fa-2x fa-chevron-left"></i></a>
                                    <a class="carousel-control right" style="margin-top: 25.5%" href="#modal-carousel" data-slide="next"><i class="fa fa-2x fa-chevron-right"></i></a>
                                  </div>
                                </div>
                                <div class="modal-footer">
                                  <button class="btn btn-primary" data-dismiss="modal">Close</button>
                                </div>
                              </div>
                            </div>
                          </div>


                    </div>
                    <!-- /col-9 -->
            </div>
            <!-- /padding -->
          </div>
          <!-- /main -->

          <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <h4 class="modal-title" id="myModalLabel">Post Your Solution</h4>
                </div>
                <div class="modal-body">
                  <% include ./solveform %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>




          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <h4 class="modal-title" id="myModalLabel">Post Your Work</h4>
                </div>
                <div class="modal-body">
                  <% include ./postform %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>


          <div id="container-floating">
            <div class="nd5 nds" data-placement="left" data-original-title="Simone"></div>
            <div id="floating-button" data-placement="left" data-original-title="Create" data-toggle="modal" data-target="#myModal">
              <p><a class="plus" id="postbtn">+</a></p>
              <img class="edit" src="/img/bt_compose2_1x.png">
            </div>
          </div>
        </div>
      </div>
      <!-- script references -->
      <script src="/javascript/vendor/jquery/jquery.min.js"></script>
      <script src="/javascript/vendor/bootstrap.min.js"></script>
      <script type="text/javascript" src="/javascript/vendor/freelancer.js"></script>
      <script src="/javascript/likesf.js"></script>
</body>

</html>
